{% extends "layout.html" %}

{% block title %}
    {{user[0]["username"]}}'s profile
{% endblock %}

{% block main %}
    {% if user[0]["email"] is none and user[0]["countryId"] is none %}
    <div class="pb-5 text-center">
        <h2>How can language buddies reach you?</h2>
        <p class="lead">Sharing details about your country and providing your email address can greatly enhance the language exchange experience.</p>
    </div>
    <!--RIGHT-->
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Profile</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Username:</h6>
                    </div>
                    <span class="text-body-secondary">{{user[0]["username"]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">E-mail:</h6>
                    </div>
                    <span class="text-body-secondary">{{user[0]["email"]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">From:</h6>
                    </div>
                    <span class="text-body-secondary"><img src="{{ flag_src }}" alt="flag" width="32" height="24"></span>
                </li>
            </ul>
        </div>
        <!--LEFT-->
        <div class="col-md-7 col-lg-8">
            <form action="/profile" method="post" class="profileForm">
                <div class="row g-3">
                    <p class="errorText alert alert-danger my-1" style></p>
                    <p class="errorText2 alert alert-danger my-1" style></p>
                    <!--email input-->
                    <div class="col-12">
                        <label for="email" class="form-label">Email<span class="text-body-secondary">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
                    </div>
                    <!--country selector-->
                    <div class="col-12">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" id="country" name="country">
                          <option disabled selected value>I live in...</option>
                          {% for country in countries %}
                          <option value="{{country.id}}">{{country.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Save</button>
            </form>
        </div>
    </div>
    {% elif user[0]["email"] is none %}
    <div class="pb-5 text-center">
        <h2>How can language buddies reach you?</h2>
        <p class="lead">Providing your email address can greatly enhance the language exchange experience.</p>
    </div>
    <!--RIGHT-->
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Profile</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Username:</h6>
                    </div>
                    <span class="text-body-secondary">{{user[0]["username"]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">E-mail:</h6>
                    </div>
                    <span class="text-body-secondary">{{user[0]["email"]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">From:</h6>
                    </div>
                    <span class="text-body-secondary"><img src="{{ flag_src }}" alt="flag" width="32" height="24"></span>
                </li>
            </ul>
        </div>
        <!--LEFT-->
        <div class="col-md-7 col-lg-8">
            <form action="/profile" method="post" class="profileForm">
                <div class="row g-3">
                    <p class="errorText alert alert-danger my-1" style></p>
                    <!--email input-->
                    <div class="col-12">
                        <label for="email" class="form-label">Email<span class="text-body-secondary">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
                    </div>
                </div>
                <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Save</button>
            </form>
        </div>
    </div>
    {% elif user[0]["countryId"] is none %}
    <div class="pb-5 text-center">
        <h2>How can language buddies reach you?</h2>
        <p class="lead">Sharing details about your country can greatly enhance the language exchange experience.</p>
    </div>
    <!--RIGHT-->
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Profile</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Username:</h6>
                    </div>
                    <span class="text-body-secondary">{{user[0]["username"]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">E-mail:</h6>
                    </div>
                    <span class="text-body-secondary">{{user[0]["email"]}}</span>
                </li>
                {% if user[0]["countryId"] is not none %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">From:</h6>
                    </div>
                    <span class="text-body-secondary"><img src="{{ flag_src }}" alt="flag" width="32" height="24"></span>
                </li>
                {% else %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">From:</h6>
                    </div>
                    <span class="text-body-secondary">none</span>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--LEFT-->
        <div class="col-md-7 col-lg-8">
            <form action="/profile" method="post" class="profileForm">
                <div class="row g-3">
                    <p class="errorText2 alert alert-danger my-1" style></p>
                    <!--country selector-->
                    <div class="col-12">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" id="country" required="" name="country">
                          <option disabled selected value>I live in...</option>
                          {% for country in countries %}
                          <option value="{{country.id}}">{{country.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Save</button>
            </form>
        </div>
    </div>
    {% else %}
    <img class="d-block mx-auto mb-4" src="../static/logo.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Hello, {{user[0]["username"]}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-1">{{user[0]["email"]}}</p>
      <span class="text-body-secondary"><img src="{{ countries[user[0]['countryId'] - 1]['flag'] }}" alt="flag" width="32" height="24" class="mb-4"></span>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/edit-profile">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit profile</button>
        </a>
      </div>
    </div>
    {% endif %}
    <script>
        var profileForm = document.querySelector(".profileForm");
        if (profileForm != null){
            profileForm.addEventListener("submit", function(e){
            let email = document.querySelector("#email");
            let country = document.querySelector("#country");
            let errorText = document.querySelector(".errorText");
            let errorText2 = document.querySelector(".errorText2");
            const re =
                /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            if (email.value != "" && email.value != null) {
                if (!email.value.match(re)) {
                    email.style.color = "red";
                    errorText.innerHTML = "Please provide a correct email address."
                    errorText.style.display = "block";
                    e.preventDefault();
                } else {
                    errorText.innerHTML = "";
                    errorText.style.display = "none";
                }
            }
            if (country.value == "" || country.value == null) {
                errorText2.innerHTML = "Please select a country."
                errorText2.style.display = "block";
                e.preventDefault();
            } else {
                errorText2.innerHTML = "";
                errorText2.style.display = "none";
            }
            })
        }

    </script>
{% endblock %}
